# AWS SAM
.aws-sam/
samconfig.toml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.venv/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de IDEs
.vscode/
.idea/

# Archivos de cache de pruebas
__pycache__/
**/__pycache__/
*.py[cod]
*.pyc

